## # Tuple 기초

In [1]:
tuple1 = (1, 2, 3)
print(type(tuple1))   # type() 함수는 변수의 자료형을 반환합니다.

<class 'tuple'>

In [2]:
tuple2 = 1, 2, 4
print(type(tuple2))
# 괄호가 없어도 튜플로 인식하지만, 괄호를 사용하면 튜플이라는 것이 더욱 명확해진다.

<class 'tuple'>

In [3]:
a = 1,   # 요소가 하나일 때는 뒤에 콤마를 넣어주어야 튜플로 인식한다.
b = 2
c = (3)
d = (4,)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'tuple'>

In [4]:
list1 = [1, 2, 3]
tuple1 = tuple(list1)
print(tuple1)

(1, 2, 3)

In [5]:
list2 = list((1, 2, 3))
print(list2)

[1, 2, 3]

In [6]:
print(tuple1[1])

2

- "tuple1[0] = 5" 처럼 리스트처럼 튜플은 값을 바꿀 수 없다.
- 튜플은 값을 지울 수도 없다.

In [7]:
tuple1 = (4, 5, 6, 7)
print(tuple1)

(4, 5, 6, 7)

- 튜플을 수정하려면, 아예 재수정을 해야한다.

In [8]:
n = len(tuple1)
print(n)

4

## # Packing & unpacking

In [9]:
a, b = 1, 2
print('a = {}, b = {}' .format(a, b))

a = 1, b = 2

In [10]:
c = (3, 4)
print(c[1])

4

In [11]:
d, e = c
print('d = {}, e = {}' .format(d, e))
print('type(d) =', type(d))

d = 3, e = 4
type(d) = <class 'int'>

- 튜플 뿐만 아니라, 리스트도 이렇게 unpacking을 통해 한꺼번에 값을 할당해줄 수 있다.
- 단, 변수의 개수와 튜플 또는 리스트의 길이가 같아야 된다. 같지 않으면 에러가 난다.

In [12]:
f = d, e
print('f = {}' .format(f))
print('type(f) =', type(f))

f = (3, 4)
type(f) = <class 'tuple'>

In [13]:
x = 10
y = 20
x, y = y, x
print('x = {}, y = {}' .format(x, y))

x = 20, y = 10

## # Tuple을 이용한 함수의 반환값

In [14]:
def tuple() :
    return 1, 2

h, i = tuple()
print('h = {}, i = {}' .format(h, i))
print('type(h) =', type(h))

h = 1, i = 2
type(h) = <class 'int'>

In [15]:
r = tuple()
print('r = {}' .format(r))
print('type(r) =', type(r))

r = (1, 2)
type(r) = <class 'tuple'>

In [16]:
list = [1, 2, 3, 4]

for a in enumerate(list) :
    print('{}번 값 : {}' .format(a[0]+10, a[1]))

10번 값 : 1
11번 값 : 2
12번 값 : 3
13번 값 : 4

In [17]:
list = [5, 6, 7, 8]
for a in enumerate(list) :
    print('{}번 값 : {}' .format(*a))

0번 값 : 5
1번 값 : 6
2번 값 : 7
3번 값 : 8

In [18]:
age = {'Tod' : 35, 'Jane' : 25, 'Mason' : 31}

for a in age.items() :
    print('{}의 나이는 {}' .format(a[0], a[1]))

Tod의 나이는 35
Jane의 나이는 25
Mason의 나이는 31

In [19]:
for a in age.items() :
    print('{}의 나이는 {}' .format(*a))

Tod의 나이는 35
Jane의 나이는 25
Mason의 나이는 31

## # Tuple을 이용한 loop

In [20]:
number = [(4, 2), (15, 3)]
for a, b in number :
    n = a / b
    print(n)

2.0
5.0