### # 'th'가 포함된 모든 단어들의 index 찾기 / '4' 의 모든 index 찾기

In [1]:
list1 = ['math', 'mice', 'cat', 'that', 'that', 'true', 'thank', 'think']
list2 = [1, 2, 4, 4, 8, 16, 4, 32, 64, 4, 128]

In [2]:
index = []

for i, x in enumerate(list1) :
    if 'th' in x :
        index.append(i)
        
print(index)

[0, 3, 4, 6, 7]

In [3]:
index = []

for i, x in enumerate(list2) :
    if x == 4 :
        index.append(i)
        
print(index)

[2, 3, 6, 9]

In [4]:
def include_str(list_a, string) :
    
    index = []

    for i, x in enumerate(list_a) :
        if string in x :
            index.append(i)
            
    return index

In [5]:
index = include_str(list1, 'th')
print(index)

[0, 3, 4, 6, 7]

In [6]:
def index_all(list_a, b) :
    
    index = []

    for i, x in enumerate(list_a) :
        if x == b :
            index.append(i)
            
    return index

In [7]:
index = index_all(list2, 4)
print(index)

[2, 3, 6, 9]

In [8]:
index = include_str(list1, 'm')
print(index)

[0, 1]

In [9]:
list3 = [10, 20, 10, 10, 30, 50]

In [10]:
index = index_all(list3, 10)
print(index)

[0, 2, 3]

### # List 안의 수들의 평균

In [11]:
list3 = [77, 89, 102, 65, 48, 53, 77]

In [12]:
def cal_mean(list_a) :
    
    sum = 0
    
    for i in list_a :
        sum += i
        
    mean = sum / len(list_a)
    
    return mean

In [13]:
print(cal_mean(list3))

73.0

### # List 안의 수 중에서 최소값/최대값 찾기

In [14]:
list3 = [77, 89, 102, 65, 48, 53, 77]

In [15]:
def find_min_max(list_a) :
    
    min = list_a[0]
    max = list_a[0]
    
    for i in list_a :
        if i < min :
            min = i
        if i > max :
            max = i
    
    return min, max

In [16]:
print(find_min_max(list3))

(48, 102)

In [17]:
print(find_min_max(list3)[0])

48

In [18]:
print(find_min_max(list3)[1])

102

### # List 안의 수 오름차순 정렬

In [19]:
list3 = [77, 89, 102, 65, 48, 53, 77]

In [20]:
def list_sort(list_a) :
    
    sort = []
    n = len(list_a)
    
    for i in range(n) :
        min = find_min_max(list_a)[0]
        sort.append(min)
        list_a.remove(min)
    
    return sort

In [21]:
print(list_sort(list3))

[48, 53, 65, 77, 77, 89, 102]

### # 성적 평균 및 순위 나열

In [22]:
students = ['현수', '무영', '성준', '민호', '태윤', '성훈', '혜원', '동연', '수경', '철종']

import numpy as np
np.random.seed(30)
math = list(np.random.randint(40, 100, size=10))
english = list(np.random.randint(40, 100, size=10))
science = list(np.random.randint(40, 100, size=10))

In [23]:
math

[77, 77, 85, 85, 92, 52, 63, 42, 93, 99]

In [24]:
english

[57, 86, 43, 81, 47, 95, 41, 89, 85, 75]

In [25]:
science

[58, 58, 92, 92, 78, 52, 56, 46, 67, 86]

### # 구구단 출력

### # 두 수의 최소 공배수/최대 공약수 구하기

### # List 안의 중복 되는 수 제거